<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit My Profile</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous"> -->
    
    <!-- ------------------------------Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='/favicon/favicon-32x32.png') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='/favicon/favicon-96x96.png') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='/favicon/favicon-16x16.png') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='/favicon-16x16.png') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='/favicon/favicon.ico') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="manifest" href="{{ url_for('static', filename='/favicon/manifest.json') }}">
    
    <!-- ------------------------------------- -->
    
    
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap/css/bootstrap.min.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style2.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom.css') }}">

</head>
<body>
    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="custom-menu">
                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                    <i class="fa fa-bars"></i>
                    <span class="sr-only">Toggle Menu</span>
                </button>
            </div>
            <div class="p-4 pt-5">
                <h1><a href="index.html" class="logo">Flutter</a></h1>
                <ul class="list-unstyled components mb-5">
                    <li class="active">
                        <li>
                            <a href="/homepage"><i class="bi bi-house-fill p-3"></i> Home</a>
                        </li> 
                    <li>
                        <a href="/myprofile"><i class="bi bi-card-heading p-3"></i> Posts</a>
                    </li>
                    <li class="d-inline">
                        </i> <a href="#"><i class="bi bi-people-fill p-3"></i> Friends</a>
                    </li><li>
                        <a href="/explore"><i class="bi bi-binoculars-fill p-3"></i> Explore</a>
                    </li><li>
                        <a href="#"><i class="bi bi-envelope-fill p-3"></i>Messages</a>
                    </li>
                    <li>
                        <a href="/myprofile"><i class="bi bi-person-circle p-3"></i> Profile</a>
                    </li>
                    <li>
                        <a href="#"><i class="bi bi-three-dots p-3"></i> More</a>
                    </li>
                </ul>

                <div class="mb-5">
                    
                    
                        <div class="form-group d-flex">
                            <div class="icon"><span class="icon-paper-plane"></span></div>
                            <a href="/posts/create"><input type="button" class="form-control bg-success px-5 ml-4" value="Post"/></a>
                        </div>
                    
                </div>

                <div class="footer"></div>
            </div>
        </nav>

            <!-- -----------------------------Page content ------------------------------>
            <div class="col-sm-4 border rounded my-5 mx-auto pt-2 main-bg-color">
                <h2 class="text-center mt-3 mb-4">Edit My Profile</h2>
                <div>
                    {% with profileerror = get_flashed_messages(category_filter=["profileerror"])  %}
                        {% if profileerror %}
                        {% for message in profileerror %}
                        <p class="bg-dark text-light rounded-3 p-2">{{message}}</p>
                        {% endfor %}
                        {% endif %}
                        {% endwith %}
                </div>
                <form action="/editmyprofile" method="post" class="text-dark">
                    <div class="mb-3">
                        <label for="first_name" class="form-label">First Name:</label>
                        <input type="text" class="form-control" name = 'first_name' id='first_name' value="{{userinfo.first_name}}">
                    </div>
                    <div class="mb-3">
                        <label for="last_name" class="form-label">Last Name:</label>
                        <input type="text" class="form-control" name = 'last_name' id='last_name ' value="{{userinfo.last_name}}">
                    </div>
                    <div class="mb-3">
                        <label for="username" class="form-label">Username:</label>
                        <input type="text" class="form-control" name = 'username' id='username' value="{{userinfo.username}}">
                    </div>
                    <div class="mb-3">
                        <label for="birthday" class="form-label">Birthday:</label>
                        <input type="date" class="form-control" name = 'birthday' id='birthday' value="{{userinfo.birthday}}">
                    </div>
                    <label for="bio" class="form-label">Bio (up to 1000 characters):</label>
                    <div class="mb-3">
                        <textarea name="bio" id="bio" class="profiletextbox" rows="5">{{userinfo.bio}}</textarea>
                        <input type="hidden" name="user_id" value="{{userinfo.user_id}}">
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn bg-success mb-md-2 mt-2">Edit Profile</button>
                    </div>
                </form>
                <h4 class="text-center mt-4 mb-2">Your Profile Picture</h4>
                <form action="/uploadprofilepic" method="post" enctype="multipart/form-data">
                        {%if userinfo.profilepic%}
                        <img class="img-fluid rounded mx-auto d-block" src="{{url_for('static', filename='/userinfo.profilepic')}}" alt="{{userinfo.first_name}} {{userinfo.last_name}}">
                        {%else%}
                        <h6 class="text-center text-dark">No picture uploaded</h6>
                        {%endif%}
                        <div>
                            <label class="form-label text-dark mt-2" for="profilepic">Upload a photo: (2MB limit)</label>
                        </div>
                        <div>
                            <input type="file" class="form-control" id="profilepic" name="profilepic" accept="image/*"">
                        </div>
                            <input for="item_id" type="hidden" name="user_id" value="userinfo.id">
                        <div class="text-center">
                            <button type="submit" class="btn bg-success mb-2 mt-2">Upload Picture</button>
                        </div>
                    
                </form>
                <div class="mt-2">
                    {% with profilepic_upload = get_flashed_messages(category_filter=["profilepic_upload"])  %}
                        {% if profilepic_upload %}
                            {% for message in profilepic_upload %}
                            <p class="bg-light text-dark rounded-3 p-2">{{message}}</p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
            </div>
        
        <!-- -----------------------------------------------------Navbar2--------------------------- -->
    
    <nav id="sidebar2" class="">
        <div class="p-4 pt-2">
            <div class="d-flex justify-content-end align-items-top">
                <a href="/logout" class="btn btn-sm btn-danger mb-5">Logout</a>
                    </div>
            
            <ul class="list-unstyled components mb-5">
                <div class="mb-5">
                    <form action="/profiles/search" class="subscribe-form" method="post">
                        <div class="form-group d-flex">
                            <div class="icon"><span class="icon-paper-plane"></span></div>
                            <input type="search" name="searchQuery" class="form-control border border-rounded" placeholder="Search Users">
                        </div>
                    </form>
                </div>
                
                <div class="my-4">
                    <a href="#" class="text-dark d-flex justify-content-start align-items-center font-weight-bold">
                        <img class="img-thumbnail rounded-circle profilepic-icon" src='{{url_for("static", filename="{}".format(userinfo.profilepic))}}'  />
                            <div class="d-block"> {{userinfo.first_name}} {{userinfo.last_name}}</div> 
                    </a>
                    </div >

                
            <div class="mb-5  p-4 border rounded border-5">
                <h5>Friends</h5>
                <div class="">
                    <div class="my-4">
                    <a href="#" class="text-dark d-flex justify-content-between font-weight-bold">Christian <img src="{{url_for('static', filename='')}}" class="img rounded-circle" /></a>
                    </div >
                    <div  class="my-4">
                    <a href="#" class="text-dark d-flex justify-content-between font-weight-bold">Tony <img src="{{url_for('static', filename='')}}" class="img rounded-circle" /></a>
                    </div>
                    <div  class="my-4">
                    <a href="#" class="text-dark d-flex justify-content-between font-weight-bold">Cameron <img src="{{url_for('static', filename='')}}" class="img rounded-circle" /></a>
                    </div>
                </div>
                <div class="mt-5 mb-3">
                    
                    <form action="#" class="colorlib-subscribe-form">
                        <div class="form-group d-flex">
                            <div class="icon"><span class="icon-paper-plane"></span></div>
                            <input type="button" id="friendButton" class="form-control" id="friendButton" value="All Friends" />
                        </div>
                    </form>
                </div>
            </div>
            
        </div>
    </nav>
</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/popper.js')}}"></script>
    <script src="{{url_for('static', filename='js/js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
</body>
</html>