<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom.css') }}">

</head>
<body>
    <div class="container-fluid text-dark main-bg-color vh-100 p-2">
        <div class="row ">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-6">
                <div class="row">
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="row">
            <div class="col-sm-2 bg-white border mt-2 p-4 pt-2 mainborder">
                <h1 class="logo ps-2">Empty Space for NavBar</h1>
                
                
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-4 bg-white border mt-2 p-4 pt-2 mainborder">
                <h2 class="text-center play mt-3 mb-5">My Profile</h2>
                <p>Name: {{userinfo.first_name}} {{userinfo.last_name}}</p>
                <p>Birthday: {{userinfo.birthday}}</p>
                <p>Bio: {{userinfo.bio}}</p>
                <a href="/editprofile"><button class ="btn main-bg-color text-white mb-md-2 mt-2"> Edit Profile</button></a>
                <a href="/homepage"><button class ="btn main-bg-color text-white mb-md-2 mt-2"> Go Back</button></a>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</body>
</html>