<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit This Outfit</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
        <!-- BioRhyme Font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=BioRhyme&display=swap" rel="stylesheet">
        <!-- PlayFair Font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">

</head>
<body>
    <div class="container bg-light text-dark p-sm-2">
        <div class="row">
            <div class="col-sm-2">
                <h1 class="logo ps-2">What to Wear</h1>
            </div>
            <div class="col-sm-6">
                <h2 class="text-dark text-center mt-3 play">Edit This Outfit</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-4 mt-1 text-danger">
                {% with outfiterror = get_flashed_messages(category_filter=["outfiterror"])  %}
                    {% if outfiterror %}
                        {% for message in outfiterror %}
                        <p class="bg-dark text-light rounded-3 p-2">{{message}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            </div>
        </div>
        <div class="row">
            <div class="col-2 justify-content-start ">
                <ul class="nav nav-tabs flex-column bg-dark rounded-3">
                    <li class="nav-item">
                        <a class="nav-link bg-dark text-light" aria-current="page" href="/wardrobe">My Wardrobe</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-light" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Outfits</a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="/myoutfits">My Outfits</a></li>
                            <li><a class="dropdown-item" href="/createoutfit">Create an Outfit</a></li>
                            <!-- <li><a class="dropdown-item" href="/editoutfit">Edit an Outfit</a></li> -->
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-light" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Items</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/showitem">My Items</a></li>
                            <li><a class="dropdown-item" href="/additem">Add a New Item</a></li>
                            <!-- <li><a class="dropdown-item" href="/edititem">Edit an Item</a></li> -->
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/randomize" >Randomize!</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/myprofile">My Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/logout">Log Out</a>
                    </li>
                </ul>
                <img src="{{url_for('static', filename='img/black-closet.jpg')}}" class="img-thumbnail border-white" alt="closet"> 
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-4">
                <form action="/editthisoutfit" method="post">
                    <div class="mb-1">
                        <label for="name" class="form-label">Give your outfit a name:</label>
                        <input type="text" class="form-control" name='name' id='name' value="{{gotoutfit.name}}">
                    </div>
                    <div class="mb-1">
                        <label for="headwear">Choose your headwear:</label>
                        <select class="form-select" aria-label="Default select example" name="headwear" id="headwear" value= "{{headwear.id}}">
                            {%if headwear.id != 0%}
                            <option selected="{{headwear.id}}" value="{{headwear.id}}">{{headwear.name}}</option>
                            {%endif%}
                            {%if all_headwear == []%}
                            <option value="0">No item to select</option>
                            {%else%}
                            <option value="0">No headwear selected</option>
                            {%endif%}
                            {% for item in all_headwear%}
                            <option value="{{item.id}}">{{item.name}}</option>
                            {%endfor%}
                        </select>
                    </div>
                    <div class="mb-1">
                        <label for="top">Choose your top:</label>
                        <select class="form-select" aria-label="Default select example" name="top" id="top" value= "{{top.id}}">
                            {%if top.id != 0%}
                            <option selected="{{top.id}}" value="{{top.id}}">{{top.name}}</option>
                            {%endif%}
                            {%if all_top == []%}
                            <option value="0">No item to select</option>
                            {%else%}
                            <option value="0">Leave top out from outfit set</option>
                            {%endif%}
                            {% for item in all_top%}
                            <option value="{{item.id}}">{{item.name}}</option>
                            {%endfor%}
                        </select>
                    </div>
                    <div class="mb-1">
                        <label for="waist">Choose your waist:</label>
                        <select class="form-select" aria-label="Default select example" name="waist" id="waist" value= "{{waist.id}}">
                            {%if waist.id != 0%}
                            <option selected="{{waist.id}}" value="{{waist.id}}">{{waist.name}}</option>
                            {%endif%}
                            {%if all_waist == []%}
                            <option value="0">No item to select</option>
                            {%else%}
                            <option value="0">Leave waist empty</option>
                            {%endif%}
                            {% for item in all_waist%}
                            <option value="{{item.id}}">{{item.name}}</option>
                            {%endfor%}
                        </select>
                    </div>
                    <div class="mb-1">
                        <label for="bottom">Choose your bottom:</label>
                        <select class="form-select" aria-label="Default select example" name="bottom" id="bottom" value= "{{bottom.id}}">
                            {%if bottom.id != 0%}
                            <option selected="{{bottom.id}}" value="{{bottom.id}}">{{bottom.name}}</option>
                            {%endif%}
                            {%if all_bottom == []%}
                            <option value="0">No bottoms selected</option>
                            {%else%}
                            <option value="0">Leave bottom empty</option>
                            {%endif%}
                            {% for item in all_bottom%}
                            <option value="{{item.id}}">{{item.name}}</option>
                            {%endfor%}
                        </select>
                    </div>
                    <div class="mb-1">
                        <label for="footwear">Choose your footwear:</label>
                        <select class="form-select" aria-label="Default select example" name="footwear" id="footwear" value= "{{footwear.id}}">
                            {%if footwear.id != 0%}
                            <option selected="{{footwear.id}}" value="{{footwear.id}}">{{footwear.name}}</option>
                            {%endif%}
                            {%if all_footwear == []%}
                            <option value="0">No item to select</option>
                            {%else%}
                            <option value="0">No footwear selected</option>
                            {%endif%}
                            {% for item in all_footwear%}
                            <option value="{{item.id}}">{{item.name}}</option>
                            {%endfor%}
                        </select>
                    </div>
                    <div class="mb-1">
                        <label for="acc1">Choose your first accessory:</label>
                        <select class="form-select" aria-label="Default select example" name="acc1" id="acc1" value= "{{acc1.id}}">
                            {%if acc1.id != 0%}
                            <option selected="{{acc1.id}}" value="{{acc1.id}}">{{acc1.name}}</option>
                            {%endif%}
                            {%if all_accessory == []%}
                            <option value="0">No item to select</option>
                            {%else%}
                            <option value="0">Leave accessory slot empty</option>
                            {%endif%}
                            {% for item in all_accessory%}
                            <option value="{{item.id}}">{{item.name}}</option>
                            {%endfor%}
                        </select>
                    </div>
                    <div class="mb-1">
                        <label for="acc2">Choose your second accessory:</label>
                        <select class="form-select" aria-label="Default select example" name="acc2" id="acc2" value= "{{acc2.id}}">
                            {%if acc2.id != 0%}
                            <option selected="{{acc2.id}}" value="{{acc2.id}}">{{acc2.name}}</option>
                            {%endif%}
                            {%if all_accessory == []%}
                            <option value="0">No item to select</option>
                            {%else%}
                            <option value="0">Leave accessory slot empty</option>
                            {%endif%}
                            {% for item in all_accessory%}
                            <option value="{{item.id}}">{{item.name}}</option>
                            {%endfor%}
                        </select>
                        <input type="hidden" name="user_id" id ="user_id" value="{{session.user_id}}">
                        <input type="hidden" name="id" id ="id" value="{{gotoutfit.id}}">
                    </div>
                    <button type="submit" class="btn btn-dark mb-md-2 mt-2">Save this outfit!</button>
<!--                <div>
                        <label class="input-group-text mt-2" for="img">Add a picture</label>
                    </div>
                    <div>
                        <input type="file" class="form-control" id="img" name="img" accept="image/*"">
                    </div>
                    
                    <div>
                    <button type="submit" class="btn btn-dark mb-md-2 mt-2">Add Item</button>
                    </div> -->
                </form>
                    <a href="/myoutfit/{{gotoutfit.id}}" class="btn btn-dark mb-md-2 mt-2">Go Back</a>
                </div>
            <!-- <div class="col-sm-4"> 
                To be used to show uploaded pic, for now uploading is an input in the left column
            </div> -->
        </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='js/script.js')}}"> </script>
</body>
</html>