<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>

<!-- Experimental Navbar -->
<div class="col-2 justify-content-start ">
    <ul class="nav nav-tabs flex-column bg-dark rounded-3">
        <li class="nav-item">
            <a class="nav-link active bg-dark border-dark text-light " aria-current="page" href="/wardrobe">My Wardrobe</a>
        </li>
        <div class="btn-group dropend">
            <button type="button" class="btn btn-secondary dropdown-toggle bg-dark border-dark" data-bs-toggle="dropdown" aria-expanded="false">
                Outfits
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/myoutfits">My Outfits</a></li>
                <li><a class="dropdown-item" href="/createoutfit">Create an Outfit</a></li>
                <li><a class="dropdown-item" href="/editoutfit">Edit an Outfit</a></li>
            </ul>
        </div>
        <div class="btn-group dropend">
            <button type="button" class="btn btn-secondary dropdown-toggle bg-dark border-dark" data-bs-toggle="dropdown" aria-expanded="false">
                Items
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/showitem">My Items</a></li>
                <li><a class="dropdown-item" href="/additem">Add a New Item</a></li>
                <li><a class="dropdown-item" href="/edititem">Edit an Item</a></li>
            </ul>
        </div>
        <li class="nav-item">
            <a class="nav-link disabled" href="randomize" tabindex="-1" aria-disabled="true">Randomize! (Disabled)</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" href="/myprofile">My Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" href="/logout">Log Out</a>
        </li>
    </ul>
</div>

#background background-image
<div class="img-thumbnail background" style="background-image: url({{url_for('static', filename='img/open-wardrobe.jpg')}})">