.maintitle{
    font-size:75px;
}
.text-shadow{
    text-shadow: -1px 1px 0 blueviolet,
    1px 1px 0 blueviolet,
    1px -1px 0 blueviolet;
}

.mainborder{
    border-radius: 25px;
}

.main-bg-color{
    background-color: blueviolet;
}

.main-color{
    color: blueviolet;
}

.main-container{
    height: 100%;
}

.profiletextbox{
    width:100%;
    border-color: blueviolet;
}

body, html {
    height: auto;
    width: 100%;
}

.bg {
    /* background-image: url("/static/img/backgrounds/Butterfly_Net.png"); */
    background-image: url("/static/img/backgrounds/ButterflyWallpaper.jpg");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}