.maintitle{
    font-size:75px;
}
.text-shadow{
    text-shadow: -1px 1px 0 blueviolet,
    1px 1px 0 blueviolet,
    1px -1px 0 blueviolet;
}

.mainborder{
    border-radius: 25px;
}

.main-bg-color{
    background-color: blueviolet;
}

.main-color{
    color: blueviolet;
}

.main-container{
    height: 100%;
}

.profiletextbox{
    width:100%;
    border-color: blueviolet;
}

body, html {
    height: auto;
    width: 100%;
}

.bg {
    /* background-image: url("/static/img/backgrounds/Butterfly_Net.png"); */
    background-image: url("/static/img/backgrounds/ButterflyWallpaper.jpg");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.profilepic-icon{
    width: 60px;
    height: 60px;
}

.profile, .edit-post{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
}

.users_posts{
    margin-top: -200px;
    margin-bottom: 60px;
    margin-left: 70px;
    margin-right: 25px;
    padding: 20px;
    border: 1px solid #0d7afe;
}

.users_posts textarea{